$bg: #1a1b26;
$fg: #c0caf5;
$blue: #7aa2f7;
$purple: #bb9af7;
$green: #9ece6a;
$red: #f7768e;
$dark_g: #24283b;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrainsMono Nerd Font Propo;
    font-weight: bold;
    font-size: 11px;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
    background: transparent;
    color: $fg;
}
window.Bar {
  background: transparent;
  color: $fg;
}

.workspaces {
    background: $dark_g;
    padding: 2px 4px;
    border-radius: 12px;
}

.workspace-button {
    color: $fg;
    padding: 0 4px;
    font-size: 10px;
    transition: all 0.3s ease;
}

.workspace-button-active {
    color: $bg;
    background: $purple;
    border-radius: 10px;
    padding: 0 10px;
    margin: 1px 0;
    min-width: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
}

.clock {
    background: $dark_g;
    color: $fg;
    padding: 0 10px;
    border-radius: 12px;
}

